@model IEnumerable<Category>

@*<div class="dropdown">
    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <a class="text-decoration-none" asp-controller="Pie" asp-action="Index">Pies</a>
    </button>

    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pie" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Pie" asp-action="List" asp-route-category="">View all pies</a>
        </li>
    </ul>
</div>*@

<li class="dropdown">
    <a asp-controller="Pie" 
    asp-action="Index" 
    class="dropdown-toggle" data-toggle="dropdown">Pies<b class="caret"></b></a>

    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pie" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Pie" asp-action="List" asp-route-category="">View all pies</a>
        </li>
    </ul>
</li>